/* .schedule {
  width: 100%;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: scroll;
}
.bg-color {
  background-color: rgba(100, 200, 200, 0.3);
}

footer {
  background-color: midnightblue;
  background-color: rgb(3,55,105);
  color: rgb(255,255,255);
} */

html,
body,
header,
#intro {
    height: 100%;
}

.course-java {
  background: url("../img/bg-java.jpg") no-repeat center center fixed;
}

#intro {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-bg-img {
  width: 90%;
}

.intro-header {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#structure .fas {
  color: #317eac;
}